<div class="archive-post-card py-{{date format="YYYY"}} js-post-card-wrap">
    <div class="py h4">{{date format="YYYY"}}</div>
    <article class="archive-post">
        <div class="inner">
            <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMM DD"}} - </time>
            <h2 class="title"><a href="{{url}}">{{title}}</a></h2>
        </div>
    </article>
</div>