{{!< default}}
{{!-- The tag above means: insert everything in this file into the {body} of the default.hbs template --}}

{{#post}}
<div class="main">
    <div class="container">
        <div class="row">
            <div class="col">
                <article class="single-post post-card">
                    <header class="post-header">
                        {{#if tags}}
                        <div class="tag-wrap">
                            {{#foreach tags}}
                            <a href="{{url}}" {{#if accent_color}} style="--c-theme:{{accent_color }};"{{/if}}>{{name}}</a>
                            {{/foreach}}
                        </div>
                        {{/if}}
                        <h1 class="heading-large post-title">
                            {{title}}
                        </h1>
                        {{#if custom_excerpt}}
                        <div class="custom-excerpt">
                            {{custom_excerpt}}
                        </div>
                        {{/if}}
                        {{> post-card-meta}}
                    </header>
                    {{#if feature_image}}
                    <div class="featured-image-wrap">
                        <img class="featured-image" loading="lazy"
                            srcset="{{img_url feature_image size="s"}} 300w,
                                {{img_url feature_image size="m"}} 600w,
                                {{img_url feature_image size="l"}} 1200w,"
                            sizes="(max-width: 340px) 300px, (max-width: 640px) 600px, 1200px"
                            src="{{img_url feature_image size="l"}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}">
                    </div>
                    <div class="featured-image-caption text-center">{{feature_image_caption}}</div>
                    {{/if}}
                    <div class="post-content">
                        {{content}}
                    </div>
                    <div id="disqus_thread"></div>
                        <script>
                            var disqus_config = function () {
                                this.page.url = "{{url absolute="true"}}";
                                this.page.identifier = "ghost-{{comment_id}}"
                            };
                            (function() {
                            var d = document, s = d.createElement('script');
                            s.src = 'https://alancienne-1.disqus.com/embed.js';
                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                            })();
                        </script>
                    <div class="post-footer">
                        {{#if access}}
                        {{> share-links}}
                        {{> about-author}}
                        {{/if}}
                    </div>
                </article>
            </div>
        </div>
    </div>
    {{> prev-next}}
    {{> related-posts}}
    {{#if access}}
    {{> comment}}
    {{/if}}
</div>
{{!> related-posts}}
{{/post}}
{{!-- Show subscription section to guest visitors --}}
{{#unless @member}}
{{> newsletter-subscription}}
{{/unless}}